/*
* {
	outline: 1px solid red;
}
/**/

.box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url(../images/ink-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: left;
}

#container {
	margin: 6rem auto 0 auto;
	width: 80%;
}

/* For this style to work, width must equal font-size..
 * In addition, a monospace font should be used */
.vertical {
	display: inline-block;
	text-align: center;
	word-wrap: break-word;
	width: 2rem;
	padding: 0.5rem 0;
	margin-bottom: 1rem;
	font-size: 2rem;
	font-family: 'Nova Mono', monospace;
	color: #eee;
	background-color: #111;
	border: 2px solid #C91515;
	border-radius: 5px;
	vertical-align: top;
}

.titles {
	vertical-align: top;
	text-align: right;
	display: inline-block;
	width: 15%;
}

.midbox {
	display: inline-block;
	width: 70%;
	border-radius: 8px;
	background-image: url(../images/parchment-bg.jpg);
	min-height: 500px;
}

#start {
	font-size: 2rem;
	margin-top: -3rem;
	margin-left: -50px;
	position: absolute;
	top: 50%;
	left: 50%;
}

#question-text {
	font-family: 'Arvo', Georgia, serif;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	padding: 1rem;
}

#question-pic {
	margin: 1rem;
	width: 30%;
	height: auto;
	border: 2px solid black;
	border-radius: 8px;
	vertical-align: middle;
}

#option-list {
	display: inline-block;
	text-align: center;
	width: 60%;
	vertical-align: top;
}

.option {
	font-family: 'Arvo', Georgia, serif;
	font-size: 1.25rem;
	text-align: center;
	padding: 1rem;
	margin: 1rem 0;
	border: 2px dashed #1C1212;
	border-radius: 10px;
}

.option:hover {
	background-color: #202333;
	color: white;
	cursor: pointer;
	border-color: white;
}

.button {
	display: block;
	margin: 0.5rem auto;
	padding: 0.5rem;
	text-align: center;
	width: 100px;
	font-family: "Nova Mono", monospace;
	font-size: 1.5rem;
	color: #E6D06E;
	background-color: #1C1212;
	border: none;
	border-radius: 10px;
}

.button:hover {
	color: #968430;
	cursor: pointer;
}

.result {
	display: inline-block;
	margin: 1rem 0;
	height: 500px;
	line-height: 500px;
	text-align: center;
	width: 50%;
	border-right: 2px dashed black;
}

#feedback {
	width: 80%;
	font-family: 'Arvo', Georgia, serif;
	font-size: 2rem;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.score {
	display: inline-block;
	width: 45%;
	margin: 1rem auto;
	text-align: center;
	vertical-align: middle;
}

.report {
	font-family: "Nova Mono", monospace;
	font-size: 4rem;
	padding: 2rem 0;
	border-bottom: 2px dashed black;
}

#scorechart {
	display: block;
	position: relative;
	width: 240px;
	height: 240px;
	margin: 0 auto;
}

#scorechart > img {
	position: absolute;
	width: 240px;
	height: auto;
	margin: 1rem auto;
	left: 0px;
	top: 0px;
}

.status-box {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#q-number {
	padding-top: 0.5rem;
}

#progress {
	position: relative;
	height: 90px;
	width: 90px;
	background-color: #111;
	border: 2px solid #C91515;
	border-radius: 50%;
}

#progress > img {
	position: absolute;
	width: 80px;
	height: auto;
	margin: 1rem auto;
	left: 5px;
	top: -11px;
}

#p-1 {
	-ms-transform: rotate(72deg); /* IE 9 */
	-webkit-transform: rotate(72deg); /* Chrome, Safari, Opera */
	transform: rotate(72deg);
}

#p-2 {
	-ms-transform: rotate(144deg); /* IE 9 */
	-webkit-transform: rotate(144deg); /* Chrome, Safari, Opera */
	transform: rotate(144deg);
}

#p-3 {
	-ms-transform: rotate(216deg); /* IE 9 */
	-webkit-transform: rotate(216deg); /* Chrome, Safari, Opera */
	transform: rotate(216deg);
}

#p-4 {
	-ms-transform: rotate(288deg); /* IE 9 */
	-webkit-transform: rotate(288deg); /* Chrome, Safari, Opera */
	transform: rotate(288deg);
}

.credit-box {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url(../images/footer-bg.png);
	text-align: center;
	padding: 0.5rem;
	border-top: 2px solid black;
	box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
}

.show-credits {
	display: inline-block;
	color: #bbb;
	text-decoration: underline;
	font-family: 'Arvo', Georgia, serif;
}

.show-credits:hover {
	cursor: pointer;
}